body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #fff;
}

header {
    background-color: #E50914;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-logo {
    display: flex;
    align-items: flex-start;
}

.header-logo img {
    max-width: 35px;
    height: auto;
    display: block;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons .button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header-buttons .button:hover {
    background-color: #f40612;
}

.title-image img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 20px auto;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.trademark {
    font-size: 0.5em;
    vertical-align: super;
}

main {
    flex: 1;
    padding-top: 80px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 20px auto;
}

.form-group {
    margin-bottom: 0;
}

label {
    display: none; /* Hide labels to save space */
}

input, select {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #f40612;
}

.error {
    color: red;
    margin-top: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-bottom: 0;
}

/* Results Page Styles */
.recommended-movie {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

.movie-list {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

.movie-item {
    background-color: #333;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.movie-item strong {
    font-size: 1.2em;
}

.movie-item ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.movie-item li {
    margin-bottom: 5px;
}


