{% extends 'layout.html' %}

{% block title %}NextFlix{% endblock %}

{% block content %}
    {% load static %}
    <div class="title-image">
        <a href="{% url 'home' %}">
            <img src="{% static 'media/nextflix_title-removebg.png' %}" alt="NextFlix">
        </a>
    </div>
    <h1>Your
        <a href="https://www.netflix.com" target="_blank" style="text-decoration: none;">
            <img src="{% static 'media/netflix_logo.png' %}" alt="Netflix Logo" style="height: 0.9em; vertical-align: middle;">
        </a>
        <span class="trademark">™</span> Roulette
    </h1>
    <p>
        No more indecision – your perfect binge awaits!
    </p>
    <h2>Set Your Preferences</h2>
     <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Get a Random Movie</button>
    </form>

    {% if movie %}
        <h2>Random Movie Recommendation</h2>
        <p><img src="{{ movie.img }}" alt="{{ movie.title }}"></p>
        <p>Title: {{ movie.title }}</p>
        <p>Year: {{ movie.year }}</p>
        <p>Rating: {{ movie.imdbrating }}</p>
        <p>Description: {{ movie.synopsis }}</p>
        <p>Genres:
            {% for genre in movie.genres %}
                {{ genre }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% elif error %}
        <p>{{ error }}</p>
    {% endif %}
{% endblock %}
